dist
_build
docs_html
*.egg-info
.*
__*__

dscaper_data/
*.wav
*.mp3
*.png
*.mp4
*.flac
*.ogg
*.zip
!tests/data/my_custom_voices.zip
*.tar
old.git
tutorials/dialog_demo.json
tutorials/dscaper_data
tutorials/audio_outputs
tutorials/my_custom_voices
tutorials/room.png
